.App {
  text-align: center;
}

.SessionList {
  background-color: #F0F0F7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-top: 10px;
  padding-bottom: 10px;
}

