.App {
  text-align: center;
}

.ContentView {
  display: flex;
  flex-direction: row;
  /*align-items: space-evenly;*/
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  background-color: #F0F0F7;
}

.SessionList {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

/*.AnalyticsView {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-top: 10px;
  padding-bottom: 10px;
}*/

/*.FilterView {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-top: 10px;
  padding-bottom: 10px;
}*/

/*.MetricsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}*/

.ChartContainer{
  height: 500px;
  width: 300px;
}
